version: "3.0"

services:
  web:
    build: .
    image: web-app
    container_name: flask-web
    ports:
      - "8000:5000"
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis-db
